@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


/* Your component-specific styles */
.card {
    background: #f6f8fa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 5px 13px 7px #e5e9ec;
    border: 0.3px solid #d7dbe2;
    margin-bottom: 1rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f6f8fa;
    border-bottom: 0.5px solid rgba(0, 0, 0, .125);
    font-weight: 500;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 153, 134, .25)
}